{% extends "base.html" %}

{% block content %}
<header>
    <a href="/logout">
        <button>Logout</button>
    </a>
    <span>{{ username }}</span>
    <a href="https://github.com/{{ username }}">
        <img src="{{ avatar_url }}" />
    </a>
</header>

<main>
    <h1>Recommendations</h1>
    <div class="categories">
        {% for cluster_id, repos in recs.items() %}
            <div class="category">
                <a href="/category/{{cluster_id}}" class="category-name">{{ cluster_meta[cluster_id][0] }}</a>
                {% for repo in repos %}
                    <a href="https://github.com/{{ repo[0] }}" class="recommendation">
                        <span class="name">{{ repo[0] }} </span>
                        <span class="stars">⭐{{ repo[2] }}</span>
                        <br>
                        <span class="description"> {{ repo[1] }}</span>
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</main>

{% endblock %}
