{% extends "base.html" %}

{% block content %}
<header>
    <a href="/logout">
        <button>Logout</button>
    </a>
    <span>{{ username }}</span>
    <a href="https://github.com/{{ username }}">
        <img src="{{ avatar_url }}" />
    </a>
</header>

<main>
    <h1>Recommendations</h1>
    <div class="categories">
        {% for cluster_id, repos in recs.items() %}
            <div class="category">
                <h4>{{ cluster_meta[cluster_id][0] }}</h4>
                {% for (name, desc, stars) in repos %}
                    <a href="https://github.com/{{ name }}" class="recommendation">
                        <span class="name">{{ name }} </span>
                        <span class="stars">⭐{{ stars }}</span>
                        <br>
                        <span class="description"> {{ desc }}</span>
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</main>

{% endblock %}
