<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Repositories</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

    <!-- Header -->
    <div class="header">
        <h1>GitHub Repository Recommender</h1>
        <p>Get personalized GitHub repository recommendations.</p>
    </div>

    <!-- Navigation Bar -->
    <div class="topnav">
        <a href="/home">Home</a>
        <a href="#repositories">Repositories</a>
        <a href="/logout" class="right">Log Out</a>
    </div>

    <!-- Main Content -->
    <div class="row">
        <div class="card" id="repositories">
            <h2>Your Recommended Repositories</h2>
            <p>Here are the top five recommended repositories based on your personal interests.</p>
        </div>
    </div>

    <div class="row">
        <div class="card" id="repositories">
            <h2>Repositories</h2>
            <ul>
                <!-- Render repository list dynamically -->
                {% for repo in repos %}
                <li>
                    <a href="{{ repo.html_url }}" target="_blank">{{ repo.name }}</a>
                    <p>{{ repo.description }}</p>
                </li>
                {% endfor %}
            </ul>
            
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        <h2>CS547 Final Project</h2>
        <p>&copy; 2024 GitHub Repository Recommender.</p>
    </div>


</body>
</html>
